/* add CSS class and element and selectors here */
body {
      background-color: lightblue;
      font-size: 150%;
    }
    
    h1{
      color: yellow;
    }
    h2{
      color: purple;
    }
    
    .info-section {
      font-size: 100%;
    }